<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Cocktails Catalog</title>
    <script src="java.js" defer></script>
    {% block scripts %}{% endblock %}
</head>
<body>

    <header>
        <h1>cocktails</h1>
    </header>

    {% block main %}

    {% endblock %}

    <footer>
        <p>&copy; Examen-Jonas-Van-Roy</p>
    </footer>

</body>
</html>
